
{% extends 'base.html' %}


{% block content %}

<main class="container py-5">
    <section class="card card_body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et tempore sit obcaecati atque nostrum. Totam dicta aut voluptates, veniam doloremque minima, sequi molestiae necessitatibus molestias illum possimus enim modi nesciunt.</p>

        <div class="text-center">
            <a class="btn btn-primary btn-secondary" href="/iniciar_session/">
            Iniciar Session
            </a>
            <a class="btn btn-primary btn-dark" href="/registrarse/">           
            Registrarse
            </a>
        </button>
        </div>
    </section>
</main>

{% endblock %}