{% extends 'base.html' %}

{% block content %}

<h1>Tareas Pendientes</h1>

<ul>
    {% for tarea in tareas %}
    <li>
        <a href="{% url 'detalle_tarea' tarea.id %}">
            {% if tarea.important %}
            <strong>{{tarea.titulo}}</strong>

            {% else %}
                {{tarea.titulo}}
            {% endif %}
            
            <p>{{tarea.descripcion}}</p>
            <p>{{tarea.user}}</p>
            <p>{{tarea.fecha_completado|date:'M d Y:i'}}</p>
            

            </a>
        


    </li>

    {% endfor %}
</ul>


{% endblock %}